@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Space Mono', monospace;
    display: flex;
    flex-direction: column;
    max-width: 420px;
    padding: 32px;
    margin: 60px auto;
    border: 1px solid #eee;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    letter-spacing: -0.25px;
}

.container {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ol { padding-left: 60px; }
li {
    color: #4F4F4F;
    padding-left: 16px;
    margin-top: 24px;
    position: relative;
    font-size: 16px;
    line-height: 20px;
}

li:before {
    content: '';
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #ddd;
    position: absolute;
    top: -12px;
    left: -56px;
}

strong { color: #292929; }

ol.alternating-colors li:nth-child(odd):before { border-color: #0BAD02; }
ol.alternating-colors li:nth-child(even):before { border-color: #2378D5; }
